* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(3, calc(100% / 3));
	align-items: stretch;
	justify-items: stretch;
	height: 100vh;
}

#second-image,
#second-text {
	grid-column-start: 1;
	grid-column-end: 3;
}

#first-text {
	background-color: #239ec6;
}

#second-text {
	background-color: #8fecf8;
}

#first-text,
#second-text {
	color: white;
	font-size: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
